*{
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

#teaching-curriculum {
    min-width: 360px;
    max-width: 360px;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    margin-right: 15px;
}

#curriculum-content{
    width: 100%;
    /*border-left: 4px solid rgba(58, 28, 139, 0.125); */
}

video{
    width: 100%;
    height: 65vh
}


#video-wrapper {
   background-color: #000;
   
}

.list-group-item{

}

.profile-img{
    border: 0px solid black;
    border-radius: 50%;
}

.staff-name a{
    padding: 0px;
}

.teaching-level-item{
    padding: 20px 20px; 
    font-size: 1.05rem;
    letter-spacing: 0.05rem;
  
}

.teaching-curriculum-header{
    padding: 15px 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;

}

.levelcode{
    font-size: .7em;
    font-weight: 100;
}

.collapse-curricullum{
    margin-left: -370px;
}

#show-curriculum{
    position: absolute;
    top: 70;
    left: 0;
    z-index: 5;
    font-size: 1.2rem;
    display: none;
}

.hider{
    display: none;
}

.right-border{
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

/*--Media Queries---*/

@media (max-width: 768px){
    video{
        width: 100%;
        height: 100%;
    }

    }

 @media (max-width: 576px){
    .navbar {
         width: 100%;
         padding: 0 0.5rem !important;
    }

    .navbar-toggler {
        padding: 0.1rem !important;
    }
    
    .navbar-brand{
        font-size: 0.85rem;
    }

    .navbar img{
        width: 40px;
        height: 20;
    }
    .tab-content ul li,	p, a {
        font-size: 0.8rem;
    }
    
 }
