*{
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

#teaching-curriculum {
    min-width: 360px;
    max-width: 360px;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    margin-right: 15px;
}

#curriculum-content{
    width: 100%;
    /*border-left: 4px solid rgba(58, 28, 139, 0.125); */
}

video{
    width: 100%;
    height: 65vh;
    border: none;
}


#video-wrapper {
   background-color: #000;
   border: none;
}

.list-group-item{

}

.profile-img{
    border: 0px solid black;
    border-radius: 50%;
}

.staff-name a{
    padding: 0px;
}

.teaching-level-item{
    padding: 20px 20px; 
    font-size: 1.05rem;
    letter-spacing: 0.05rem;
  
}

sup.badge{
    font-size: 0.5rem;
}
.teaching-curriculum-header{
    padding: 15px 20px;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    margin-right: -1px;
}

.levelcode{
    font-size: .7em;
    font-weight: 100;
}

.collapse-curricullum{
    margin-left: -370px;
}

#show-curriculum{
    position: absolute;
    top: 70;
    left: 0;
    z-index: 5;
    font-size: 1.2rem;
    display: none;
}

.hider{
    display: none;
}

.right-border{
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

a {
    color: #495057 !important;
}

.nav-tabs .nav-link:hover{
    border-top: 2px solid #f7dc63; 
  }

.nav-tabs .nav-link.active {
    border-top: 2px solid #007bff; 
    color: #007bff !important;
}

.comment-box {
    border: 1px solid #f7f8fa;
    background-color: #f7f8fa;
    border-radius: 15px;
}


.commentor-name {
    font-weight: 600;
    color: #024a97;
}

.sm-comment-name {
    margin-left: 80px;
}

.btn-style:hover{
    background-color: #fff;
}
.btn-style:active{
    border: 0px solid #fff;
}

.navbar{
    padding: 0 2rem ;
}

.navbar-brand{
    font-weight: 500;
}
/*--Media Queries---*/

@media (max-width: 1130px){
    .navbar-brand{
        font-size: 0.9rem;
    }

    a.nav-link{
        font-size: 0.85rem;
    }

}

@media (max-width: 768px){
    video{
        width: 100%;
        height: 100%;
    }
    .right-border{
        border-right: none;
    }
    .navbar-brand{
        font-size: 1.0rem;
    }
 }

 .teaching-level-item{
     font-size: 0.95rem !important;
     font-weight: 600;
 }

 @media (max-width: 576px){
    .navbar {
         width: 100%;
         padding: 0 0.5rem !important;
    }

    .navbar-toggler {
        padding: 0.1rem !important;
    }
    
    .navbar-brand{
        font-size: 0.8rem;
        
    }

    .navbar img{
        width: 40px;
        height: 20;
    }
    .tab-content ul li,	p, a {
        font-size: 0.8rem;
    }
    
 }
